{% extends "base.html" %}
{% block content %}
    {% if current_lists != [] %}
    <form id='add_recipients' action="{{url_for('lists')}}" method="post" name="add_recipients_form" enctype="multipart/form-data">
        <p>
            <span>Select list name</span>  <br>
            {{ form_add_recipients.list_items }} <br>
        </p>
        <p>
            <span>Add CSV file</span>  <br>
            {{ form_add_recipients.csv}}
            <input type="submit" value="Upload">
            {{ form_add_recipients.csrf_token }}
        </p>
    </form>
    {% endif %}
    <hr>
    <form id='add_lists' action="{{url_for('lists')}}" method="post" name="add_lists_form" enctype="multipart/form-data">
        <p>
            <span>List name</span>  <br>
            {{ form_add_list.list_name }} <br>
        </p>
        <input type="submit" value="Add new list">
        {{ form_add_list.csrf_token }}
    </form>
    <hr>

    <table class="table">
    <thead>
      <tr>
        <th>List ID</th>
        <th>Name</th>
        <th>Recepients</th>
      </tr>
    </thead>
    <tbody>
    {% for list in current_lists %}
      <tr>
        <td>{{ list['id'] }}</td>
        <td>{{ list['name'] }}</td>
        <td>{{ list['recipient_count'] }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
